<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OLDMOON" connectionString="metadata=res://*/Model.Oldmoon.csdl|res://*/Model.Oldmoon.ssdl|res://*/Model.Oldmoon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OM-SRV-APP\SQLEXPRESS;initial catalog=OLDMOON;persist security info=True;user id=admin;password=ty1076;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ERP" connectionString="metadata=res://*/Model.Erp.csdl|res://*/Model.Erp.ssdl|res://*/Model.Erp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OM-SRV-APP\ERP;initial catalog=ERP;persist security info=True;user id=admin;password=ty1076;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="Picture" value="" />
    <add key="CompanyName" value="OLDMOON CO.,LTD." />
  </appSettings>
</configuration>